
@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');


.lo {
  width: 32px;
  height: 26px;
  font-family: 'League Script', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3.5rem;
  color: var(--title-color);
}

.aside {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--body-color);
  border: 1px solid rgba(0,0,0,0.05);
  padding: 2.5rem;
  width: 110px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  transition: .3s;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.nav__link {
  font-size: 1.5rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__link:hover {
  color: hsl(43, 100%,68%);
}

.nav__toggle {
  position: fixed;
  top: 1.25rem;
  left: 1.875rem;
  cursor: pointer;
  height: 40px;
  width: 45px;
  background-color: var(--body-color);
  border: 1px solid #e8dfec;
  display: none;
  justify-content: center;
  align-items: center;
  transition: .3s;
  z-index: 1;
}

@media (max-width:1024px) {
  .aside {
    left: -110px;
  }

  .nav__toggle {
    display: flex;
  }

  .nav__toggle-open {
    left: 140px;
  }

  .show-menu {
    left: 0;
  }
}